.nav-pills {
    margin: 0 auto;
    padding: 0;
    width: 99%;
}

li.pills {
    margin: -3px;
}

.list-group {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.list-group-item {
    min-height: 50px;
    padding: 10px 8px;
}

div.inline {
    margin: 0 auto;
}

div.inline input{
    padding: 0;
}

a.delete {
-webkit-appearance: button;
-moz-appearance: button;
appearance: button;

text-decoration: none;
}

.form-inline {
    padding-right: 0;
}

.pull-right {
    padding-right: 0;
}

.text-label {
    padding-left: 5px;
    padding-right: 5px;
}

.delete {
    padding-left: 0;
}

.fa-circle {
    color: red;
}

.custom-col-xs-10 {
    width: 90%;
}

.custom-col-xs-2 {
    width: 9%;
}